.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}
.one {
  grid-column: 1 / 6;
  grid-row: 1/2;
  background-color: rgb(233, 242,179);
  font-size: 60px;
  text-align: center;
}
.two {
  grid-column: 1;
  grid-row: 2/7;
  background-color: blanchedalmond;
  font-size: 20px;;
}
.three {
  grid-column: 2/6;
  grid-row: 2 / 7;
  background-color:rgb(180, 240, 241);
  font-size: 25px;

}

img{
  text-align: right;
}

.four {
  grid-column: 1/6;
  grid-row: 7;
  background-color:rgb(230, 236, 185);
  font-size: 35px;
  text-align: center;
}


